.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup-image{
  /* width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; */
}


input[type=submit]{
	background-color: green;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	border: none;
	margin: 2px;
}


input[type=submit] hover{
	background-color: dark green;
}

.register-form{
  text-align: center;
}
.form-title{
  text-align: center;

}

.notfound{
  text-align: center;
  color: red;

}

.homepage{
  text-align: center;
  color: blue;
}